{% extends 'base.html' %}
{% block menu %}
<div class="btn-group mb-3 mt-3" style="width:100%;">
    <a href="{% url 'task-list' %}" class="btn btn-secondary" style="width:50%">Назад</a>
    <a href="{% url 'task-update' task.pk %}" class="btn btn-primary" style="width:50%">Редактировать</a>
    <a href="{% url 'task-delete' task.pk %}" class="btn btn-primary" style="width:50%">Удалить</a>
</div>
{% endblock menu %}
{% block content %}
{% include 'todo/partial/task_item.html' with task=task %}
{% endblock content %}