{% extends 'base.html' %}

{% block menu %}
<div class="btn-group mb-3 mt-3" style="width:100%;">
    <a href="{% url 'task-list' %}" class="btn btn-primary" style="width:50%">Список задач</a>
    <a href="{% url 'task-create' %}" class="btn btn-primary" style="width:50%">Добавить задачу</a>
</div>
{% endblock menu %}

{% block content %}
<form action="{% url 'batch-delete' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input type="submit" value="" class="btn_batch_delete">
    </div>
    <div class="list-group">
        {% for task in task_list %}
        {% include 'todo/partial/task_list_item.html' %}
        {% endfor %}
    </div>
</form>
{% endblock content %}