body{
    background-color: #f5f5f5;
}

.btn_batch_delete{
    background-image: url('../icons/delete-svgrepo-com.svg') ;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    border:None;
}